{% load static %}
<footer class="footer-area" style="margin-top:20px;" id="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="/"><img src="{% static '/webDevelopment/images/PNG-LOGO.png' %}" alt="logo"> </a>
                    <p style="background:none;">
                        It's time to code your future, give us chance to walk you through this uncharted territory.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="single-footer-widget footer_2">
                    <h4>Newsletter</h4>
                    <p style="background:none;">Stay updated with our latest trends.
                    </p>
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3" style="border: none;">
                                <input type="text" style="margin-top:0px; border:solid black 1px;" class="form-control" placeholder='Enter email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                <div class="input-group-append">
                                    <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="social_icon social_icon1">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/aptcoder" target="_blank"> <i class="fab fa-facebook"></i> </a>
                            </li>
                            <li>
                                <a href="#footer"> <i class="fab fa-twitter" target="_blank"></i> </a>
                            </li>
                            <li>
                                <a href="#footer"> <i class="fab fa-instagram" target="_blank"></i> </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/aptcoder/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                            </li>
                        
                        
                        
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contact us</h4>
                    <div class="contact_info">
                        <p style="background:none;"><span> Address :</span> 3 F/166 2nd Floor NIT Metro Sanik Colony Road, Faridabad, HR, 121001 </p>
                        <p style="background:none;"><span> Phone :</span> +91 36 265 (8060)</p>
                        <p style="background:none;"><span> Email : </span>hello@aptcoder.com</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>