{% load static %}

<div id="our_courses" class="course-section-full">
            <div class="our-courses-text">
                <p style="font-size:50px;color:black;">Our Courses</p><br>
                <p class="small-text">We provide various courses keeping in view the overall skill development of our
                    students.</p>
                <p class="small-text">Different courses are available for WEB DEVELOPMENT, ANDROID APP DEVELOPMENT, and
                    PROGRAMMING.</p>
            </div>
            <div class="menu-wrapper">

                <ul class="menu">
                    <div class="item html-course" style="background: url({% static '/webDevelopment/images/courses/html.png' %});background-size: cover;position: relative;">
                        
                        <div class="detailsHTML">
                            <h1>HTML</h1>
                            <div class="limit">
                                <p>HTML is the basics of website<br> development. To begin the<br> journey of WEB
                                    DEVELOPMENT,<br> start with HTML.</p>
                            </div>
                            <button class="direct-reg-button">Register</button>

                        </div>
                    </div>
                    <div class="item css-course" style="background: url({% static '/webDevelopment/images/courses/css.png' %});background-size: cover;position: relative;">
                        <div class="detailsHTML">
                            <h1>CSS</h1>
                            <div class="limit">
                                <p>CSS is the soul of frontend and designing.<br> In a webpage, the HTML codes
                                    gives<br> the structure or the data or the<br> information While CSS is used to make
                                    <br>the
                                    data designable , stylize , etc. </p>
                            </div>
                            <button class="direct-reg-button">Register</button>

                        </div>
                    </div>
                    <div class="item js-course" style="background: url({% static '/webDevelopment/images/courses/js.png' %});background-size: cover;position: relative;">
                        <div class="detailsHTML">
                            <h1>JavaScript</h1>
                            <div class="limit">
                                <p>JavaScript (JS) is a lightweight,<br> interpreted, or just-in-time <br>compiled
                                    programming language<br> with first-class functions. While <br>it is most well-known
                                    as the<br> scripting language for Web pages.</p>
                            </div>
                            <button class="direct-reg-button">Register</button>

                        </div>
                    </div>
                    <div class="item android-course" style="background: url({% static '/webDevelopment/images/courses/android.png' %});background-size: cover;position: relative;">
                        <div class="detailsHTML">
                            <h1>Android</h1>
                            <div class="limit">
                                <p>Android is a mobile operating system<br> developed by Google. It is used by<br>
                                    several smartphones and tablets.<br> The Android operating system (OS)<br> is based
                                    on the Linux kernel.</p>
                            </div>
                            <button class="direct-reg-button">Register</button>

                        </div>
                    </div>
                    <div class="item cpp-course" style="background: url({% static '/webDevelopment/images/courses/cpp.png' %});background-size: cover;position: relative;">
                        <div class="detailsHTML">
                            <h1>C++</h1>
                            <div class="limit">
                                <p>C++ has been used extensively in <br>developing new programming<br> languages like
                                    C#, Java,<br> JavaScript, Perl, UNIX's C Shell,<br> PHP and Python, and Verilog etc.
                                </p>
                            </div>
                            <button class="direct-reg-button">Register</button>

                        </div>
                    </div>
                    <div class="item python-course" style="background: url({% static '/webDevelopment/images/courses/python.png' %});background-size: cover;position: relative;">
                        <div class="detailsHTML">
                            <h1>Python</h1>
                            <div class="limit">
                                <p>Python is an interpreted,<br> high-level and general-purpose<br> programming
                                    language.<br>Python allows programmers<br> to define their own types
                                    using<br> classes, which are most often<br> used for OOP.
                                </p>
                            </div>
                            <button class="direct-reg-button">Register</button>

                        </div>
                    </div>

                </ul>

                <div class="paddles">
                    <button class="left-paddle paddle hidden">
                        < </button>
                            <button class="right-paddle paddle">
                                >
                            </button>
                </div>

            </div>

        </div>